 <ion-header>
    <ion-toolbar>
      <ion-title>OPÇÕES</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="notifications"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
    <ion-button color="medium" expand="full">SOLICITAÇÃO DE SUPORTE</ion-button>
    <ion-button color="medium" expand="full">HISTÓRICO DE SOLICITAÇÕES</ion-button>
    <ion-button color="medium" expand="full">PERGUNTAS FREQUENTES</ion-button>
    <ion-button color="medium" expand="full">FALAR COM ATENDENTE</ion-button>
    <ion-button color="medium" expand="full">TESTE DE BANDA</ion-button>
    <ion-button color="medium" expand="full">DEIXAR FEEDBACK</ion-button>
    <ion-button color="medium" (click)="sair()" expand="full">SAIR</ion-button>
  </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium">
        AJUDA
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="medium">
        CONTATO
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>