ion-header {
    max-width: 1000px;
    margin: 0 auto;
    align-self: center;
    margin-top: 20px;
  }
  
  ion-title {
    text-align: center;
    font-size: 20px;
  }
  
  ion-content {
    max-width: 1000px;
    margin: 0 auto;
    align-self: center;
  }
  
  ion-icon {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
  }
  
  ion-button {
    font-size: 14px;
  }
  
  .buttons {
    margin-top: 25px;
  }
  
  ion-footer {
    margin: 0 auto;
    align-self: center;
    margin-top: 10px;
  }
  
  
  .section {
    height: 300px;
  }
  
  .style_icons {
    display: flex;
    flex-direction: row;
  }
  